<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <h1>{{title}}</h1>
        <div v-if="bought" v-bind:style="{background: valueColor}">
            <p>{{content}}</p>
            <p>{{calc * calc - calc / 100}}</p>
            <p>{{bought ? 'Sim' : 'Não'}}</p>
            <input  v-model="valueColor" type="color">
            {{valueColor}}
        </div>
        <a v-bind:href="bought ? href : ''">{{href}}</a>
    </div>

    <script>
        const vm = new Vue({
            el: "#app",
            data: {
                title: 'Curso de VueJS',
                content: 'Conteúdo do curso...',
                calc: 5,
                bought: true,
                href: "https://www.google.com",
                valueColor: "#FFF"
            }
        });
    </script>
</body>

</html>